body{
    background-color: #cfe1b9;
    color: #000000;
    font-family: serif;
}

column {
    float: left;
    min-height: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.interface-main {
    margin: 20px;
    text-align: center;
}

.search-box {
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 15%;
}

#semester{
    background-color: #b5c99a;
    height: 40px;
    border-radius: 5%;
    border: 2px solid black;
}

#mentor-search-input {
    background-color: #b5c99a;
    color: #000000;
    font-family: serif;
    width: 50%;
    height: calc(100% - 5px);
    font-size: 1.2em;
    border: none;
    outline: none;
    border-bottom: 2px solid black; 
}

.buttons{
    background-color: #b5c99a;
    color: #000000;
    font-family: serif;
    height: 100%;
    border-radius: 5%;
    border: 2px solid black;
}

#mentor-info{
    text-align: center;
}
